{% extends 'base.html.twig' %}

{% block title %}Subject{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <h1>Fiche matière</h1> <hr/>
            {% include 'common/flash_message.html.twig' %}
            <div class="pull-right">
                <ul class="list-inline">
                    <li>
                        <a href="{{ path('subject_index') }}">
                            Retour à la liste
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('subject_edit', {'id': subject.id}) }}" class="btn btn-success">
                            Mettre à jour
                        </a>


                    </li>
                    <li>
                        {{ include('admin/subject/_delete_form.html.twig') }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">

            <table class="table table-bordered table-striped">
                <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ subject.id }}</td>
                </tr>
                <tr>
                    <th>Nom</th>
                    <td>{{ subject.name|upper }}</td>
                </tr>
                <tr>
                    <th>Département</th>
                    <td>{{ subject.type }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
